<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{page.title}} | Leerrata</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/handheld.css" media="handheld"> 
</head>

<body>
  <header>
      <h1>Leerrata</h1>
      <h2>A Public Errata of Dr.Lee's Programming Book</h2>
  </header>

  <article>
      {{ content }}
  </article>

  <footer>
      <ul>
      	<li><a href="https://github.com/medicalwei/leerrata">Github</a></li>
	<li><a href="http://html5boilerplate.com/">HTML5 Boilerplate</a></li>
      </ul>
  </footer>
</body>
</html>
